<?xml version='1.0' encoding='utf-8'?>
<widget id="com.velmyk.team.flowy" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>flowy</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="de.appplant.cordova.plugin.local-notification" spec="https://github.com/katzer/cordova-plugin-local-notifications.git" />
    <plugin name="cordova-plugin-useless" spec="https://github.com/velmyk/cordova-plugin-useless.git" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <splash src="/res/ios/Default@2x~iphone.png" height="960" width="640" />
        <splash src="/res/ios/Default-568h@2x~iphone.png" height="1136" width="640" />
        <splash src="/res/ios/Default~iphone.png" height="480" width="320" />
        <icon src="/res/ios/icon-60.png" height="60" width="60" />
        <icon src="/res/ios/icon-60@2x.png" height="120" width="120" />
        <icon src="res/ios/icon-40.png" width="40" height="40" />
        <icon src="res/ios/icon-40@2x.png" width="80" height="80" />
        <icon src="res/ios/icon-small.png" width="29" height="29" />
        <icon src="res/ios/icon-small@2x.png" width="58" height="58" />
    </platform>
    <engine name="ios" spec="~4.1.1" />
</widget>
