.plants {
	&-add {
		position: fixed;
    	right: 30px;
    	bottom: 30px;

    	&__plus {
    		font-size: 43px;
    		vertical-align: top;
    		margin-top: -4px;
    	}
	}

    &-create {

        &-layout {
            margin: 10px;
        }

        &-slider {
            padding-top: 25px;
        }

        &-header {

            height: 70px;

            &__text {
                text-align: center;
                margin: auto;
            }

            &__arrow {
                padding: 15px;
            }
        }
    }

    &-list {
        &-delete {
            background-color: #e50d0d;
            padding: 26px 20px 26px 10px;
            color: white;
            font-weight: bold;
            margin-right: -25px;
        }

        &-item {
            &__water-time {
                &_need-water {
                    color: #BF0909 !important;
                }
            }
        }

        &-header {

            height: 70px;

            &__text {
                text-align: center;
                margin: auto;
            }

            &__arrow {
                padding: 15px;
            }
        }
    }

    &-modify {
        &__water-time {
            text-align: center;
            padding: 30px;

            &_need-water {
                color: #BF0909;
            }
        }

        &-header {

            height: 70px;

            &__text {
                text-align: center;
                margin: auto;
            }

            &__arrow {
                padding: 15px;
            }
        }
    }
}