.plants {
	&-add {
		position: fixed;
    	right: 30px;
    	bottom: 30px;

    	&__plus {
    		font-size: 43px;
    		vertical-align: top;
    		margin-top: -4px;
    	}
	}

    &-create {

        &-layout {
            margin: 10px;
        }

        &-slider {
            padding-top: 25px;
        }
    }

    &-list {
        &-delete {
            background-color: red;
            padding: 26px 10px;
            color: white;
            font-weight: bold;
        }

        &-item {
            &__water-time {
                &_need-water {
                    color: red !important;
                }
            }
        }
    }

    &-modify {
        &__water-time {
            padding: 30px;

            &_need-water {
                color: red;
            }
        }
    }
}