{
    "env": {
        "browser": true,
        "commonjs": true,
        "es6": true,
        "node": true
    },
    "parserOptions": {
        "sourceType": "module"
    },
    "rules":{
        "quote-props": [2, "as-needed", {"numbers": true}],
        "quotes": [2, "single"],
        "eqeqeq": 2,
        "wrap-iife": 2,
        "no-multi-spaces": 2,
        "no-undef": 2,
        "strict": 2
    },
    "globals": {
        "angular": false,
        "describe": false,
        "it": false,
        "expect": false,
        "beforeEach": false,
        "jasmine": false,
        "spyOn": false,
        "RandomString": false
    }
}