.strange {

    &-header {

        height: 70px;

        &__text {
            text-align: center;
            margin: auto;
        }

        &__arrow {
            padding: 15px;
        }
    }

    &-content {

        &__button {
            width: 95%;
            margin-top: 50px;
            padding: 0 23%;
        }

        &__text {
            height: 30px;
            padding: 150px 48%;
        }
    }
}