<div ng-cloak layout-gt-sm="row" layout="column">
    <md-content>
        <md-list flex>
            <md-subheader
                class="md-no-sticky">My plaants</md-subheader>
            <md-list-item
                class="md-3-line"
                ng-repeat="plant in plantsListCtrl.plants"
                ng-click="plantsListCtrl.modifyPlant(plant.id)"
                md-swipe-right="plantsListCtrl.onSwipeRight()"
                md-swipe-left="plantsListCtrl.onSwipeLeft(plant)">
                <i class="icon icon-leaf"
                    class="md-avatar" alt="{{plant.name}}" /></i>
                <div class="md-list-item-text" layout="column">
                    <h3>{{ plant.name }}</h3>
                    <h4>{{ plant.iterval }}</h4>
                    <p>{{ plant.next }}</p>
                </div>
                <div class="plants-list-delete"
                    ng-show="plantsListCtrl.forDelete == plant">DELETE</div>
            </md-list-item>
        </md-list>
    </md-content>

    <md-button
        class="md-fab md-warn md-hue-2 plants-add"
        aria-label="Profile"
        ng-click="plantsListCtrl.addNewPlant()">
        <md-icon
            class="plants-add__plus">+</md-icon>
    </md-button>
</div>