i {
	&.icon {
		display: block;

		&-leaf {
			margin-right: 10px;
			@include sprite($icon-leaf);
		}

		&-leaf_big {
			margin: auto;
			@include sprite($icon-leaf_big);
		}

		&-arrow {
			&_left {
				@include sprite($icon-arrow_left);
			}
		}


	}
}